<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Country Search</title>
    </head>
    <body>
        
        <h1>Search For Country</h1>
        <form method="POST" data-th-action="@{/process/searchCountry}">
            <p>Search by name</p>
            <input type="text" name="searchCountry" size="30">
            <button type="submit">Submit</button>
        </form>

    </body>
</html>