<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Country List</title>
    </head>
    <body>
        
            <h1>Country List</h1>

            <table border="1">
                <thead>
                    <tr>
                        <td>Country Code</td>
                        <td>Country Name</td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="country : ${countries}">
                        <td data-th-text="${country.code}"></td>
                        <td data-th-text="${country.name}"></td>
                    </tr>
                </tbody>
            </table>

    </body>
</html>