<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Country Search by Region</title>
    </head>
    <body>
        
        <h1>Search For Country by Region</h1>
        <form method="POST" data-th-action="@{/process/searchRegion}">
            <p>Search by Region</p>
            <select name="searchRegion" id="searchRegion">
                <option data-th-each="region : ${regions}" data-th-value="${region}" data-th-text="${region}"></option>
            </select>
            <button type="submit">Submit</button>
        </form>

    </body>
</html>